body{
    margin: 0;
    font-family: sans-serif;
   
}
.container{
    width: 100vw; 
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}
.calendar{
    
    width: 600px;
    background-color:aqua;
    box-shadow:2px 2px 5px 5px black;
}
*{
    margin: 0;
    box-sizing: border-box;
}
.month{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    padding: 35px 30px;
}
.weekends{
    display: flex;
    height: 27px;
    background-color: bisque;
    border: 1px solid black;
}
.weekends div{
    width: 14.28%;
    text-align: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.days{
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
    border-top: 1px solid black;

}
.days div{
    width: 14.28%;
    text-align: center;
    padding: 8px 0px;
    border-bottom: 1px solid blue;
    border-right: 1px solid blue;
    
}
.prev_date{
    color:darkorange;
    font-size: 18px;
}
.today{
    background-color: chocolate;
}
.days div:hover{
    background-color: #555;
    transition: all 1s;
    
}
.prev,.next{
    width: 30px;
    height: 30px;
    border-radius: 60%;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prev:hover,.next:hover{
    background-color: darkseagreen;
    transition: all 1s;
}
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
#month{
    float: left;
    font-size:22px;

}
#year{
    float: left;
    font-size:22px;
    margin-left: 10px;
}
button{
    font-size: 18px;
}
#pop-up{
    display: none;
    position: fixed;
    left: 486px;
    width: 400px;
    height: 350px;
    border:3px solid green;
    background-color: #fff;
}
.list_block{
    width: 360px;
    height: 250px;
    border: 1px solid yellow;
    margin: 20px;
    background-color:darksalmon;
}
.input-group{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-left: 5px;
}
.form-control{
    width: 240px;
}
.btn-add,.btn-remove{
    border: 1px solid black;
    margin-left: 5px;
    background-color: darkkhaki;
}
.btn-add:hover,.btn-remove:hover{
    background-color:dodgerblue;
}
#close{
    font-size: 25px;
    float:right;
    
}
#close:hover{
    cursor: pointer;
    color: red;
}